.about {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-text {
    width: 100%;
}

@media /*Desktop*/ (min-width: 1024px) {
    .about {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }

    .about-text {
        width: 60%;
    }
}
