.header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(56, 56, 56, 0.7)),
        url(../../img/bg-banner.png) center center / cover no-repeat;
    color: white;
    height: 350px;
}

.navbar {
    display: flex;
    padding: 9px 0;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    max-width: 1024px;
    margin: auto;
}

.navbar-item {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 15px;
    font-weight: 500;
}

.navbar-item:hover {
    color: rgb(206, 113, 68);
}

.dropdown {
    position: relative;
}

.navbar-menu {
    position: absolute;
    list-style-type: none;
    margin: 5px -5px;
    padding: 0;
    border: 1px solid gray;
}

.navbar-menu > li {
    margin: 0;
    background-color: black;
    text-align: center;
    cursor: pointer;
    padding: 5px 10px;
    width: 100%;
}

.navbar-menu > li:hover {
    background-color: rgb(206, 113, 68);
}

.baseline {
    padding: 10px 0 0 0;
    text-align: center;
    line-height: 1;
}

.baseline-name {
    display: block;
    font-size: 5rem;
    line-height: 1;
    font-weight: 600;
    font-family: 'dancing script';
    margin: 1.5rem 0 1rem 0;
}

.baseline-subtitle {
    text-transform: uppercase;
    font-size: 3rem;
    color: rgb(206, 113, 68);
}

.baseline-slogan {
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-top: 2rem;
}

@media /*Desktop*/ (min-width: 1024px) {
    .header {
        height: 550px;
    }

    .navbar {
        padding: 18px 20px;
        font-size: 1.2rem;
        justify-content: end;
    }

    .baseline {
        padding: 50px 0 70px 0;
    }

    .baseline-name {
        font-size: 7rem;
    }

    .baseline-subtitle {
        font-size: 5rem;
    }

    .baseline-slogan {
        font-size: 1.8rem;
        margin-top: 3.5rem;
    }
}
