.contact-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;

    > img {
        max-width: 22rem
    }
}

.information-list {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 2rem 0;
    gap: 1rem;

    > li {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;

        &:hover {
            color: rgb(206, 113, 68);
        }
    }
}

.opening-hours-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    > li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }
}

@media /*Tablet*/ (min-width: 820px) {
    .contact-container {
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
        align-items: center;
    }
}

@media /*Desktop*/ (min-width: 1024px) {
    .contact {
        font-size: 18px;

        .contact-container {
            flex-direction: row;
            gap: 0;
            justify-content: space-between;
            align-items: center;
        }
    }
}
